.quizList {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 2.5em;
  text-align: center;
  background-image: url(../../assets/images/17973871_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.listWrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.list {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.7);
  background-color: rgba(250, 204, 150, 0.8);
  padding: 1em;
}

.quizList ul {
  padding-top: 1.2em;
  margin-left: 2.2em;
  text-align: left;
}
.quizList div h1 {
  margin-bottom: 1em;
  padding-top: 2.2em;
  color: #290c4f;
}
.quizList ul li {
  margin-bottom: 0.6em;
}
.quizList ul li a {
  color: #290c4f;
  font-size: 1.2em;
  text-decoration: none;
}
.quizList ul li a:hover {
  color: #290c4f;
  font-weight: bold;
}

.quizOfList {
  padding-right: 1em;
  margin-bottom: 0.4em;
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalControl {
  display: flex;
  justify-content: center;
}

.editIcon,
.deleteIcon {
  padding-top: 0.3em;
  margin-left: 0.3em;
  cursor: pointer;
  color: #290c4f;
  font-size: 1.7em;
  transition: transform 0.3s;
}

.editIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.editIcon:hover {
  color: rgb(13, 141, 4);
}
.deleteIcon:hover {
  color: red;
}

.modalContent {
  text-align: center;
}

.modalTitle {
  text-align: center;
  font-size: 1.5em;
  color: red;
  font-weight: bold;
}
.modalTitle + p {
  text-align: center;
  padding-top: 0.4em;
  color: #290c4f;
}

.editInput {
  padding-top: 1em;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  font-size: 1em;
  color: white;
  text-align: center;
}

@media (max-width: 400px) {
  .modalControl {
    flex-direction: column;
  }
  .modalControl button {
    margin-left: 0;
    margin-right: 0;
  }
}
