.input {
  display: flex;
  flex-direction: column;
}
.input input {
  width: 100%;
  border: 1px solid transparent;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 0.2em;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}
.input label {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
  color: #290c4f;
  font-size: 1em;
  font-weight: bold;
}
.input span {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.8em;
  font-size: 12px;
  font-weight: bold;
}

.invalid {
  background-color: #fde0e3;
}

